
* {
    color: #777;
}

.c-hidden {
    visibility: hidden;
}

.c-admin-component-item {
    padding: .3em 1em;
    color: #777;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
}

.c-admin-component-item:hover {
    color: #f79a84;
}


.c-main-admin-block {
    margin-top: 50px;
}

.c-admin-component-menu {
    margin-bottom: 1em;
}

.c-admin-menu-first-item {
    margin-top: 2em;
}

.c-choosen-item {
    font-weight: bold;
    color: #f79a84;
    text-shadow: 0px 1px 0px #1c1c33, 0 0 1em #eee;
}

.c-admin-btn-add {
    margin-top: 2em;
    margin-bottom: 2em;
}

.admin-error-msg {
    text-align: center;
    color: #5a2c10;
    font-style: oblique;
}

.admin-edit-info {
    margin-bottom: 2em;
}

.admin-edit-btn-group {
    margin: 1em 0%;   
}

.add-field-btn {
    margin-left: 4%;
}

.t-a-left {
    text-align: left;
}

@media (max-width: 778px) {
    .t-a-center-sm {
        text-align: center;
    }
}


.custom-component-item:hover {
    background-color: #eff1f1;
}

.custom-component-item-label {
    padding-top: 0.9em;
    font-size: 0.8em !important;
    color: #1c1c33 !important;
}
.custom-hover_color:hover , .custom-hover_color:hover .pure-menu-link , .custom-component-item-button:hover {
    color: #f79a84 !important;
}

.custom-component-item:hover .custom-component-item-button {
    background: white !important;
}

.custom-focus {
    background-color: #eee;
}

.custom-margin-top {
    margin-top: 2em;
}

.logik-block {
    width: 90%;
    margin: 10px auto;
    padding: 10px;
    position: relative;
}

.admin-header {
    font-weight: bold;
    margin-bottom: 5px;
}

.margin10 {
    margin: 10px;
}

.m-left-field {
    margin: 10px;
}

