
<div class="container c-main-admin-block">

    <div class="col-xs-12 col-sm-2">
        <ul class="">
            <li (click)="set_current_view('components')"
                [class.c-choosen-item]=" choosen_menu( current_view, 'components' ) "
                class="c-admin-component-item">
                components </li>
            <li (click)="set_current_view('pages')"
                [class.c-choosen-item]=" choosen_menu( current_view, 'pages' ) "
                class="c-admin-component-item">
                pages </li>
        </ul>
    </div> 

    <div *ngIf=" current_view == 'components' " class="col-xs-12 col-sm-10">

     

          <div class="row c-admin-component-menu">
                        
                        <div 
(click)="set_part_current_view('all')"
[class.c-choosen-item]=" choosen_menu( part_current_view, 'all' ) "
                        class="col-xs-12 col-sm-2 col-sm-offset-8 c-admin-component-item">
                            all
                        </div>


                        <div                                             
                        class="col-xs-12 col-sm-2">
  <select  *ngIf="show_group_select()"
    (change)="set_sorted_part_current_view($event.target.value)"
    class="form-control input-sm" 
    id="group_select" >
    <option>none</option>
    <option *ngFor=" let item of all_groups_name() " >
        {{ item }}
    </option>
  </select>

                        </div>


           </div>



<data-wrapper *ngIf=" part_current_view == 'all' || part_current_view == 'sorted_view' " >            

            <div class="row" >

                 <input type="button" class="col-xs-12 col-sm-2 col-sm-offset-10  btn btn-default c-admin-btn-add" 
                        value="create"
                       (click)="set_part_current_view('create-component')" /> 

            </div>

            <div class="row" 
                *ngFor=" let component of components | sortByGroup : { sort : sorted_by_value , view : part_current_view } " > 

                <label class="col-xs-12 col-sm-4 "> 
                    Name : {{ component.name }} 
                </label>

                <label class="col-xs-12 col-sm-4 ">
                    Group : {{ component.group || 'none' }} 
                </label>

                <input type="button" class="col-xs-12 col-sm-2 col-sm-offset-2  btn btn-default" value="edit"
                       (click)=" set_part_current_view('edit-component') "
                       (click)=" set_edit_component(component) " />  

            </div>

</data-wrapper>



<data-wrapper *ngIf=" part_current_view == 'create-component' " > 


<form class="form-horizontal">
  <div class="form-group">
    <label for="new_component_name" class="col-sm-2 control-label">Name</label>
    <div class="col-xs-12 col-sm-5">
      <input 
[(ngModel)]="new_component.name"    
      type="text" class="form-control" id="new_component_name" placeholder="name">
    </div>
  </div>
  <div class="form-group">
    <label for="new_component_group" class="col-sm-2 control-label">Group</label>
    <div class="col-xs-12 col-sm-5">
      <input 
[(ngModel)]="new_component.group"
(keyup)="change_new_component_group()"
      type="text" class="form-control" id="new_component_group" placeholder="group" />
    </div>
    <div class="col-xs-12 col-sm-5" *ngIf="show_group_select()" >
        <select 
(change)="set_new_component_group_select($event.target.value)"
    class="form-control" 
    id="new_component_group_select" >
            <option>none</option>
            <option *ngFor=" let item of all_groups_name() " >
                {{ item }}
            </option>
        </select>
    </div>

  </div>
  <div class="form-group">
    <button (click)="create_component()"
    class="col-xs-12 col-sm-2 col-sm-offset-4 btn btn-default" type="submit">
        create component
    </button>
  </div>

</form>

</data-wrapper>


<data-wrapper *ngIf=" part_current_view == 'edit-component' " > 

<div class="row admin-edit-info" > 

  <label class="col-xs-12 col-sm-4 "> 
     Name :  {{ component_editable.name }}
  </label>

   <label class="col-xs-12 col-sm-4 ">
     Group : {{ component_editable.group }}
   </label>

</div>  

<form class="form-horizontal">

  <div class="form-group">
   
    <div class="col-xs-12 col-sm-6">
      <input 
[(ngModel)]="new_field.name"    
      type="text" class="col-xs-12 col-sm-6 form-control" placeholder="field name" />
    </div>
    <div class="col-xs-12 col-sm-2">
  <select
    (change)="set_new_field_type($event.target.value)"
    class="form-control"
    id="new-field-id" 
    >
    <option value="string">String</option>
    <option value="text">Text</option>  
    <option value="number">Number</option>  
    <option value="image">Image</option>  
    <option value="component">Component</option>       
  </select>
    </div>
    <button (click)="add_new_field()"
            class="col-xs-12 col-sm-3 btn btn-default" >
            Set new field
    </button> 

  </div>
  
<data-wrapper *ngIf=" error_msg['new_field'] " >
   <p class="admin-error-msg" > {{ error_msg['new_field'] }} </p>
</data-wrapper>

</form>

<p class="t-a-center no-field" 
 *ngIf=" ! component_editable?.body?.length " >
    No field was created
</p>


  <p class=" type-field-header "
    *ngIf=" show_if_type_field_exist( 'string' ) " > 
        String fields : 
  </p>

    
  <data-wrapper *ngFor=" let field of component_editable.body" >
  <div 
    *ngIf=" field.type === 'string' " 
    class="row">

    <label for="field_name" class="col-xs-12 col-sm-3 t-a-left c-label" > {{ field.name }} </label>
    <div class="col-xs-12 col-sm-6">
      <input 
[(ngModel)]="field.value"    
      type="text" class="form-control" id="field_name" />
    </div>
    <button (click)="delete_field(field._id)"
    class="col-xs-12 col-sm-2 btn btn-default" type="submit">
        delete
    </button>

  </div>
  </data-wrapper>

  <p class=" type-field-header "
    *ngIf=" show_if_type_field_exist( 'text' ) " > 
        Text fields : 
  </p>
  <data-wrapper *ngFor=" let field of component_editable.body" >
  <div 
    *ngIf=" field.type === 'text' " 
    class="row">

    <label for="field_name" class="col-xs-12 col-sm-3 t-a-left c-label" > {{ field.name }} </label>
    <div class="col-xs-12 col-sm-6">
        <textarea 
[(ngModel)]="field.value" 
        class="form-control" rows="3"></textarea>
    </div>
    <button (click)="delete_field(field._id)"
    class="col-xs-12 col-sm-2 btn btn-default" type="submit">
        delete
    </button>

  </div>
  </data-wrapper>


  <p class=" type-field-header "
    *ngIf=" show_if_type_field_exist( 'number' ) " > 
        Number fields : 
  </p>
  <data-wrapper *ngFor=" let field of component_editable.body" >
  <div 
    *ngIf=" field.type === 'number' " 
    class="row">

    <label for="field_name" class="col-xs-12 col-sm-3 t-a-left c-label" > {{ field.name }} </label>
    <div class="col-xs-12 col-sm-6">
      <input 
[(ngModel)]="field.value"    
      type="number" class="form-control" id="field_name"  />
    </div>
    <button (click)="delete_field(field._id)"
    class="col-xs-12 col-sm-2 btn btn-default" type="submit">
        delete
    </button>

  </div>
  </data-wrapper>


  <p class=" type-field-header "
    *ngIf=" show_if_type_field_exist( 'image' ) " > 
        Image fields : 
  </p>
  <data-wrapper *ngFor=" let field of component_editable.body" >
  <div 
    *ngIf=" field.type === 'image' " 
    class="row">

    <label for="field_name" class="col-xs-12 col-sm-3 t-a-left c-label" > {{ field.name }} </label>
    <div class="col-xs-12 col-sm-6">
      <input 
[(ngModel)]="field.value"    
      type="number" class="form-control" id="field_name" />
    </div>
    <button (click)="delete_field(field._id)"
    class="col-xs-12 col-sm-2 btn btn-default" type="submit">
        delete
    </button>

  </div>
  </data-wrapper>

  <p class=" type-field-header "
    *ngIf=" show_if_type_field_exist( 'component' ) " > 
        Component fields : 
  </p>
  <data-wrapper *ngFor=" let field of component_editable.body" >
  <div 
    *ngIf=" field.type === 'component' " 
    class="row">

    <label for="field_name" class="col-xs-12 col-sm-3 t-a-left c-label" > {{ field.name }} </label>
    <div class="col-xs-12 col-sm-6">
        <select
            (change)="set_component_field_value(field, $event.target.value)"
            class="form-control" 
            >
            <option selected ></option>
            <option *ngFor=" let name of all_components_name() " >
                {{ name }}
            </option>
      
        </select>
    </div>
    <button (click)="delete_field(field._id)"
    class="col-xs-12 col-sm-2 btn btn-default" type="submit">
        delete
    </button>

  </div>
  </data-wrapper>

  <div class="row small-marg-top">
    <label for="component_editable_name" class="col-xs-12 col-sm-3 t-a-left c-label"> New name :</label>
    <div class="col-xs-12 col-sm-6">
      <input 
[(ngModel)]="component_editable.new_name"    
      type="text" class="form-control" id="component_editable_name" placeholder="name" />
    </div>
  </div>

<data-wrapper *ngIf=" error_msg['edit-component'] " >
   <p class="admin-error-msg" > {{ error_msg['edit-component'] }} </p>
</data-wrapper>  

<div class="row admin-edit-btn-group" >
    <button (click)="change_component()"
    class="col-xs-12 col-sm-3 btn btn-default" type="submit">
        change component
    </button>
    <button (click)="copy_component()"
    class="col-xs-12 col-sm-3 btn btn-default" type="submit">
        copy component
    </button>
    <button (click)="delete_component()"
    class="col-xs-12 col-sm-3 btn btn-default" type="submit">
        delete component
    </button>    
    <button (click)="show_json_of_edit_component()"
    class="col-xs-12 col-sm-3 btn btn-default" type="submit">
        show json
    </button>       
</div>

        <pre *ngIf=" json_of_edit_component_is_visible " >

            {{ component_editable | json }}

        </pre>

</data-wrapper>


<data-wrapper *ngIf=" error_msg['global'] " >
   <p class="admin-error-msg" > {{ error_msg['global'] }} </p>
</data-wrapper>


    </div>   <!-- END of components -->

    <div *ngIf=" current_view == 'pages' " class="col-xs-12 col-sm-10">
   

          <div class="row c-admin-component-menu">
                        
                        <div 
(click)="set_part_current_view('all')"
[class.c-choosen-item]=" choosen_menu( pages_current_view, 'all' ) "
                        class="col-xs-12 col-sm-2 col-sm-offset-8 c-admin-component-item">
                            all
                        </div>


                        <div                                             
                        class="col-xs-12 col-sm-2">
  <select *ngIf="show_group_select(pages)"
    (change)="set_sorted_part_current_view($event.target.value)"
    class="form-control input-sm" 
    id="collection_select" >
    <option>none</option>
    <option *ngFor=" let item of all_groups_name(pages) " >
        {{ item }}
    </option>
  </select>

                        </div>


           </div>


<data-wrapper *ngIf=" part_current_view == 'all' || part_current_view == 'sorted_view' " >            

            <div class="row" >

                 <input type="button" class="col-xs-12 col-sm-2 col-sm-offset-10  btn btn-default c-admin-btn-add" 
                        value="create"
                       (click)="set_part_current_view('create-page')" /> 

            </div>

            <div class="row" 
                *ngFor=" let page of pages | sortByGroup : { sort : sorted_by_value , view : part_current_view }" > 

                <label class="col-xs-12 col-sm-4 "> 
                    Name : {{ page.name }} 
                </label>

                <label class="col-xs-12 col-sm-4 ">
                    Group : {{ page.group || 'none' }} 
                </label>

                <input type="button" class="col-xs-12 col-sm-2 col-sm-offset-2  btn btn-default" value="edit"
                       (click)=" set_pages_current_view('edit-page') "
                       (click)=" set_edit_pages(page) " />  

            </div>

</data-wrapper>


<data-wrapper *ngIf=" part_current_view == 'create-page' " > 


<form class="form-horizontal">
  <div class="form-group">
    <label for="new_page_name" class="col-sm-2 control-label">Name</label>
    <div class="col-xs-12 col-sm-5">
      <input 
[(ngModel)]="new_page.name"    
      type="text" class="form-control" id="new_page_name" placeholder="name">
    </div>
  </div>
  <div class="form-group">
    <label for="new_page_group" class="col-sm-2 control-label">Group</label>
    <div class="col-xs-12 col-sm-5">
      <input 
[(ngModel)]="new_page.group"
(keyup)="change_new_page_group()"
      type="text" class="form-control" id="new_page_group" placeholder="group" />
    </div>
    <div class="col-xs-12 col-sm-5" *ngIf="show_group_select(pages)" >
        <select 
(change)="set_new_page_group_select($event.target.value)"
    class="form-control" 
    id="new_page_group_select" >
            <option>none</option>
            <option *ngFor=" let item of all_groups_name() " >
                {{ item }}
            </option>
        </select>
    </div>

  </div>
  <div class="form-group">
    <button (click)="create_page()"
    class="col-xs-12 col-sm-2 col-sm-offset-4 btn btn-default" type="submit">
        create page
    </button>
  </div>

</form>

</data-wrapper>


    </div> <!-- END of pages -->

</div> 

