
<div class="pure-g custom-main-block">

    <div class="pure-u-1-5 pure-menu custom-restricted-width">
        <span class="pure-menu-heading custom-hidden custom-margin-top"> HIDDEN </span>

        <ul class="pure-menu-list">
            <li (click)="set_current_view('components')"
                [class.custom-focus]=" choosen_menu( current_view, 'components' ) "
                class="pure-menu-item custom-hover_color"><a href="#" class="pure-menu-link">
                components</a></li>

        </ul>
    </div>

    <data-wrupper *ngIf=" current_view == 'components' " class="pure-u-4-5">
        <div class="pure-g" >       

            <div class="pure-u-3-5"></div>
            <div class="pure-u-2-5">

                <div class="pure-menu pure-menu-horizontal">

                    <ul class="pure-menu-list">
                        
                        <li 
[class.custom-focus]=" choosen_menu( components_current_view, 'all' ) "
                        class="pure-menu-item custom-hover_color pure-menu-selected"><a href="#" class="pure-menu-link">
                            all</a></li>
                        <li 
[class.custom-focus]=" choosen_menu( components_current_view, 'mutable' ) "                        
                        class="pure-menu-item custom-hover_color"><a href="#" class="pure-menu-link">
                            mutable</a></li>
                        <li
[class.custom-focus]=" choosen_menu( components_current_view, 'immutable' ) "
                        class="pure-menu-item custom-hover_color"><a href="#" class="pure-menu-link">
                            immutable</a></li>

                    </ul>
                </div>

            </div>

            <div class="pure-u-5-5 custom-margin-top">
                
            <div class="pure-g custom-component-item"
                *ngFor=" let component of components " > 

                <label class="pure-u-2-5 custom-component-item-label"> 
                    Name : {{ component.name }} 
                </label>
                <label class="pure-u-1-5 custom-component-item-label"> 
                    Type : {{ component.type || component.mutability }} 
                </label>
                <label class="pure-u-1-5 custom-component-item-label">
                    Group : {{ component.group || 'none' }} 
                </label>
                <input type="button" class="pure-u-1-5 pure-button custom-component-item-button" value="edit"
                       (click)="edit_fields_component(component)" />  

            </div>



            </div>
        </div> 
    </data-wrupper>

</div> 


<div class="logik-block" style="display:none;" >




        <p>
            <label class="admin-header"> Type of component </label> <br />
            <label>
            Mutable :  
                <input type="radio" 
                    value="mutable" 
                    name="mutability"
                    checked="checked"
                    (click)="set_new_component_mutability('mutable')"
                />
            </label>
            <label>
            Immutable :    
                <input type="radio" 
                    value="immutable"
                    name="mutability"
                    (click)="set_new_component_mutability('immutable')"
                />
            </label>
        </p>


</div>

<div class="logik-block" 
    *ngIf=" new_component.mutability == 'mutable' " >

    <div>
        <input type="text" placeholder="name" 
            [(ngModel)]="new_component.name" 
        />
         <input type="button" value="add new component" 
            (click)="create_component()"    
        />
    </div>
 
    <div 
    *ngFor=" let component of components " > 

        <div 
            *ngIf="component.mutability == 'mutable' " >
            <label> {{ component.name }}</label>
            <br />
            <input type="text" placeholder="new name"
                [(ngModel)]="component.new_name" />  
            <input type="button" value="change"
                (click)="change_component(component)" />
            <br />
            <input type="button" value="copy"
                (click)="copy_component(component)" />
            <input type="button" value="delete"
                (click)="delete_component(component._id)" />  
            <input type="button" value="edit fields"
                (click)="edit_fields_component(component)" />        
        </div>
 
        <div *ngIf="show_fields_component(component)">
                <input class="m-left-field" type="text" placeholder="name" 
                    [(ngModel)]="new_field.name" />
                <select [(ngModel)]="new_field.type">
                    <option value="string" selected >String</option>
                    <option value="number">Number</option>
                    <option value="image">Image</option>
                    <option value="component">Component</option>
                </select>
                <input type="button" value="add" 
                    (click)="add_field(component, new_field)" />   

                <p>Components : </p>
                <div class="m-left-field"
                    *ngFor=" let field of component?.body " >

                     <div *ngIf=" field.type == 'component' " >
                        Name : {{ field.name }}
                        <input type="text" placeholder="new name" 
                            [(ngModel)]="field.edit_name" 
                        />
                        <input type="button" value="change"
                            (click)="change_field({ component: component, field: field, type: 'component' })" />
                         <input type="button" value="copy"
                            (click)="copy_field({ component: component, field: field, type: 'component' })" />
                         <input type="button" value="delete"
                            (click)="delete_field({ component: component, field: field, type: 'component' })" /> 
                         <br *ngIf="value_assignment(field)" />
                         <input type="text" 
                            [(ngModel)]="field.edit_value" /> 
                     </div>
                </div>                                 

                <p>Strings : </p>
                <div class="m-left-field"
                    *ngFor=" let field of component?.body " >

                     <div *ngIf=" field.type == 'string' " >
                        Name : {{ field.name }}
                        <input type="text" placeholder="new name" 
                            [(ngModel)]="field.edit_name" 
                        />
                        <input type="button" value="change"
                            (click)="change_field({ component: component, field: field, type: 'string' })" />
                         <input type="button" value="copy"
                            (click)="copy_field({ component: component, field: field, type: 'string' })" />
                         <input type="button" value="delete"
                            (click)="delete_field({ component: component, field: field, type: 'string' })" /> 
                         <br *ngIf="value_assignment(field)" />
                        <textarea cols="100" rows="3"
                            [(ngModel)]="field.edit_value" >
                        </textarea> 
                     </div>
                </div>

                <p>Numbers : </p>
                <div class="m-left-field"
                    *ngFor=" let field of component?.body " >

                     <div *ngIf=" field.type == 'number' " >
                        Name : {{ field.name }}
                        <input type="text" placeholder="new name" 
                            [(ngModel)]="field.edit_name" 
                        />
                        <input type="button" value="change"
                            (click)="change_field({ component: component, field: field, type: 'number' })" />
                         <input type="button" value="copy"
                            (click)="copy_field({ component: component, field: field, type: 'number' })" />
                         <input type="button" value="delete"
                            (click)="delete_field({ component: component, field: field, type: 'number' })" /> 
                         <br *ngIf="value_assignment(field)" />
                         <input type="number" 
                            [(ngModel)]="field.edit_value" />
                     </div>
                </div>


        </div>

    </div>

</div>

<div class="logik-block" 
    *ngIf=" new_component.mutability == 'immutable' " >

    <div>
        <input type="text" placeholder="name" 
            [(ngModel)]="new_component.name" 
        />
        <input type="text" placeholder="group" 
            [(ngModel)]="new_component.group" 
        />
         <input type="button" value="add new component" 
            (click)="create_component()"    
        />
    </div>

</div>
